     Which owner would you like to delete?
     
   <form action="/delete_owner">
  
    Select an Owner to Delete: <select name="id"></p> <% Owner.all.each do |owner| %>
      <option value="<%= owner.id %>"> <%= owner.id %> <%= owner.name %> <%= owner.email %></option>
      <% end %>
    </select>
    
    <p> Are you sure you want to delete this Owner? :  
      <input type="radio"  name="decision" value="yes" > Yes
      <input type="radio"  name="decision" value="no" checked> No
      
      <p> <input type="submit" value="delete owner"></p>
    </form>
    