<h1> Edit Category </h1>
<p><strong>Here is your current category name.</strong></p>
<p>Enter any changes and click submit. </p>
   
<form action="/save_category_edit">
  <p> Name : <input type="text" placeholder="" name="name" value="<%=@category.name%>"></p>
   <input type="hidden" name= "id" value="<%=@category.id%>">
  <p> <input type="submit" value="submit changes"></p>
</form>

