<!doctype html>
<head>
 <title>     pawmate </title>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
</head>
<nav>
</nav>
<body>
  <header>
    <div id="header">
         pawmate
    </div>
  </header>

<div class="primary">
 <%=yield%>
</div>
  
  
  <footer> <div id="fix_footer">
        pawmate 2015.
  </div>
</footer>

</body>
</html>