<!doctype html>
<head>
  <title> PawMate</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
</head>
<nav>
</nav>
<body>
  <div class="home">
    <header>
      <a href="/home">
        <img src="/logo.svg" type="image/svg+xml" class="logo">
      </a>
     </header>

    <div class="primary">
      <%=yield%>
    </div>
  
  
    <footer>
     
    </footer>

  </div>
</body>
</html>