<!doctype html>
<head>
  <title> PawMate</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="initial-scale=1">
</head>
<nav>
</nav>
<body>
  <div class="home">
    <header>
      <a href="/home">
        <img src="/logo.svg" type="image/svg+xml" class="logo">
      </a>
    </header>

    <div class="primary">
      <%=yield%>
    </div>
  
    <div class="quote">
     "The more boys I meet the more I love my dog."
      <br>- Carrie Underwood</br>
    </div>
    
    <!-- <footer> pawmate 2015 </footer> -->
</div>
    
    
  </body>
  </html>