<!doctype html>
<head>
  <title> PawMate</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="initial-scale=1">
</head>
<nav>
</nav>

  <body onload="getquote()">
  <div class="home">
    <header>
      <a href="/home">
        <img src="/logo.svg" type="image/svg+xml" class="logo">
      </a>
    </header>

    <div class="primary">
      <%=yield%>
    </div>
  
    <div id="quote">
      
    </div>
    
    <!-- <footer> pawmate 2015 </footer> -->
  </div>
    
  <script style="text/javascript" src="/global2.js">
  </script>
</body>
</html>