<!doctype html>
<head>
 <title> Pet Tracker </title>
  <link rel="stylesheet" href="/main.css">
</head>
<nav>
</nav>
<body>
  <header>
    <div id="fix_header">
      PetLOG
    </div>
  </header>

<div class="primary">
 <%=yield%>
</div>
  
  
  <footer> <div id="fix_footer">
    PetLOG 2015.
  </div>
</footer>

</body>
</html>