<!doctype html>
<head>
  <title> PawMate</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/ux.css">
  <meta name="viewport" content="initial-scale=1">
</head>
<nav>
</nav>
<body>
  <header>
    <div id="header">
      <a href="/home">
        <img src="/logo.svg" type="image/svg+xml" class="logo">
      </a>
    </div>
  </header>
  <div class="home">

    <div class="primary">
      <%=yield%>
    </div>
  
  </div>
  <footer> <div id="fix_footer">
    pawmate 2015.
  </div>
</footer>

</body>
</html>