<h1>Welcome to Pet Tracker! Would you like to:</h2>

  <form method="get" action="/add_owner">
    <button type="submit">Create an Owner</button>
  </form>
  
  <form method="get" action="/existing_owner">
    <button type="submit">Select an Existing Owner</button>
  </form>
