<!doctype html>
<nav> 
  <div class="mobile_column">
    
    <div class="group1">
   
      <a href="/add_owner">
        <img src="/pawmate-add-owner.svg" type="image/svg+xml" class="icons">
        <p> create owner </p>
      </a>
     
      <a href="/existing_owner">
        <img src="/pawmate-select-owner.svg" type="image/svg+xml" class="icons">
        <p> select owner </p>
      </a>
     
    </div>
    
    <div class="group2">
      <a href="/delete_owner_form">
        <img src="/pawmate-delete-owner.svg" type="image/svg+xml" class="icons">
        <p> delete owner </p>
      </a>
      
      
      <a href="/see_categories">
        <img src="/pawmate-edit-category.svg" type="image/svg+xml" class="icons">
        <p> edit categories </p>
      </a>
    </div>
    
  </div>
    
    <!-- full-width -->
<div class="full_column">
    
    <div class="icon1">
      <a href="/add_owner">
        <img src="/pawmate-add-owner.svg" type="image/svg+xml" class="icons">
        <p> create owner </p>
      </a>
    </div>
      
    <div class="icon2">
      <a href="/existing_owner">
        <img src="/pawmate-select-owner.svg" type="image/svg+xml" class="icons">
        <p> select owner </p>
      </a>
    </div>
    <div class="icon3">  
      <a href="/delete_owner_form">
        <img src="/pawmate-delete-owner.svg" type="image/svg+xml" class="icons">
        <p> delete owner </p>
      </a>
    </div>
    <div class="icon4">
      <a href="/see_categories">
        <img src="/pawmate-edit-category.svg" type="image/svg+xml" class="icons">
        <p> edit categories </p>
      </a>
    </div>
    <div style="clear:both"></div>
</div>

    
    
</nav>




    
 




 
  
  
