<!doctype html>
<head>
  <title> Admin Menu </title>
  <link rel="stylesheet" href="/main.css">
  
</head><div id="photo">
  <nav> 
<div id="nav"> <a href="/add_owner">create owner</a>
  <img src ="/createowner.svg"></div>
 <div id="nav2"><a href="/existing_owner">select owner</a></div>
    
      
    <div id="nav2"><a href="/delete_owner_form">delete owner</a></div>
         
    <div id="nav2"><a href="/add_category">add category</a></div>
     
           
    <div id="nav2"><a href="/see_categories">edit category</a></div>
              
  
</nav>
 
  
  
