<h1>Welcome to Pet Tracker! Would you like to:</h2>

  <form method="get" action="/add_owner">
    <button type="submit">Create a New Owner</button>
  </form>
  
  <form method="get" action="/existing_owner">
    <button type="submit">Select an Existing Owner</button>
  </form>
  <form method="get" action="/delete_owner_form">
    <button type="submit">Delete an Existing Owner</button>
  </form>
 
  
  
