<!doctype html>
<head>
  <title> Admin Menu </title>
  <link rel="stylesheet" href="/main.css">
  
</head><div id="photo">
  <nav> 
      
    <div id="nav2"> 
      <img src="/createowner.png">
      <p> <a href="/add_owner">create owner</a></p>
    </div> 
  
  
    <div id="nav2">
      <img src="/createowner.png">
      <p><a href="/existing_owner">select owner</a></div>
    
      
        <div id="nav2">
          <img src="/createowner.png">
          <p>   <a href="/delete_owner_form">delete owner</a></div>
         
            <div id="nav2">
              <img src="/createowner.png">
              <p><a href="/add_category">add category</a></p></div>
     
           
              <div id="nav2">
      
                <img src="/createowner.png">
                <p><a href="/add_category"><a href="/see_categories">edit category</a></p></div>
    
    
              
  
              </nav>
 
  
  
