<!doctype html>
<head>
  <title> PawMate</title>
  <link href='http://fonts.googleapis.com/css?family=Dosis:300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/ux.css">
  <meta name="viewport" content="initial-scale=1">
</head>
<nav>
</nav>
<body>
  <header>
    <div id="header">
      <!-- <a href="/home">
        <img src="/logo2.svg" type="image/svg+xml" class="logo">
      </a> -->
      <a href="/home">
        <img src="/logo.svg" type="image/svg+xml" class="logo">
      </a>
      <img src="/hamburger.svg" type="image/svg+xml" id="hamburger">
    </a>
  </header>
  
  <div class="home">
    <div id="mobile_menu">
     
      <a href="/add_owner">
        <div id="mobile_links">create owner</div>
      </a>
      <a href="/existing_owner">
        <div id="mobile_links">select owner</div>
      </a>
      <a href="/delete_owner_form">
        <div id="mobile_links">delete owner</div>
      </a>
      <a href="/see_categories">
        <div id="mobile_links">edit categories</div>
      </a>
     
    </div>
    

    <div class="primary">
      <%=yield%>
    </div>
  
  </div>
 
</footer>
<script style="text/javascript" src="/global.js">
</script>
</body>
</html>