html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  font-family:'Dosis', sans-serif;
  font-size: 100%;
  color: white;
  text-decoration:none;
  font-weight:light;
}
body {
  margin: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: url("/cat.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  position:relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

header {
  background-color: #F29685;
  height: 100px;
  width: 100%;
  z-index:200;
  position: absolute;
  top:0;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.icons {
  width:100px;
  position:relative;
  display: block;
  margin-right:auto;
  margin-left:auto;
}



.mobile_column {
  position:relative;
  width:100%px;
  display: block;
  margin-right:auto;
  margin-left:auto;
  margin-top: 200px;
}

p {
  text-align: center;
  color:white;
}

.primary {
  position:relative;
  width: 100%;
}

.logo {
  position: relative;
  display: block;
  margin-right:auto;
  margin-left:auto;
  margin-top:7px;
  width:300px;
}

.group1 {
  position: relative;
  width: 50%;
  float:left;
  overflow:hidden;
  
}

.group2 {
  position: relative;
  overflow:hidden;
  width: 50%;
  

}

.full_column {
  display:none;
}

.icon1 {
 display:none;
}
.icon2 {
  display:none;
}

.icon3 {
  display:none;
}
.icon4 {
  display:none;
}

.quote {
  display:none;
}

footer {
  display:block;
  text-align:center;
  padding-top:2%;
}


/*div {
  border: 2px solid !important;
}*/
/*full-width-----------------------------------------------------*/
@media (min-width: 600px) {
  
  .group1 {
    display: none;
  }
  .group2 {
    display: none;
  }

  .icon1 {
    position: relative;
    float:left;
    width:25%;
    display:block;
  }
  .icon2 {
    position:relative;
    float:left;
    width:25%;
    display:block;
    
  }
  
  .icon3 {
    position:relative;
    float:left;
    width:25%;
    display:block;
  }
  
  .icon4 {
    position:relative;
    float:left;
    width:25%;
    display:block;
    
  }
  
  .full_column {
    display:block;
    position:relative;
    width:100%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding-right: 5%;
    padding-left: 5%;
    margin-top:20%;
    
  }
  
  .mobile_column {
    display:none;
  }
  
  /*div {
    border: 2px solid !important;
  }*/
  
  .quote {
    display:block;
    background-color: white;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-family:'Dosis', sans-serif;
    font-size: 30px;
    padding:5%;
    color:#F29685;
    text-align: center;
    margin-top:6%;
  }
  
}
  


