<!doctype html>

<p><a href="/add_assignment"> add assignment </a></p>
<p><a href="/edit_assignment"> edit assignment </a></p>
<p><a href="/delete_assignment_form"> delete assignment</a></p>
<p><a href="/show_assignments"> show assignments </a></p>
<p><a href="/api/assignments"> API of all assignments</a></p>
<p><a href="/api/show_assignments"> API single assignment</a></p>
  



    
 




 
  
  
